<div class="mt-4">
    <div class="row">
        <div class="col-lg-offset-7 col-md-6">
            <h2 class="course-name">{{course.name}}</h2>

            <p>{{course.description}}</p>


            <div class="price ">
                <div class="d-flex align-items-center">${{course.price}} <ion-icon class="fire" name="flame"></ion-icon></div>
                <p class="d-flex align-items-center"><ion-icon name="stopwatch-outline"></ion-icon> <strong>23 hours</strong>&nbsp left at this price!</p>
            </div>
            <div class="d-flex pt-2">
            {{#if course.price}} 
                <button type="button" class="btn price-btn btn-warning"><a class="nav-link text-white" href="#">Buy Now 
                </a></button>
            {{ else }}
                <button type="button" class="btn price-btn btn-warning"><a class="nav-link text-white" href="#">Get Free 
                </a></button>
            {{/if}}

                <a href="/wishlist/add/{{course._id}}"><ion-icon class="favorite-icon" name="heart-circle-outline"></ion-icon></a>
            </div>
            
           
        </div>

        <div class="col-lg-offset-5 col-md-6">
            <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/{{course.videoId}}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
    </div>
</div>