<div class="mt-4">
    <div class="row">
        <div class="banner row">
            <div class="image col-md-6 pe-4">
                <img src="https://demo.sparklewpthemes.com/educenter/edugarphic/wp-content/uploads/sites/7/2021/04/vactor.png" alt="">
            </div>
        
            <div class="content col-md-6 d-flex align-items-start flex-column justify-content-center">
                <h3>Học - Học nữa - Học mãi</h3>
                <p>Hãy tham gia những khoá học của chúng tôi để có được những trải nghiệm tuyệt vời nhất, cùng với những giáo viên giỏi nhất</p>
            </div>
        </div>


        {{#each courses}}
        
            <div class="col-sm-4 col-lg-3 d-flex">
                <a href="/courses/{{this.slug}}" class="nav-link">
                    <div class="card card-course-item">
                        <img src="{{this.image}}" class="card-img-top" alt="..." />
                        <div class="card-body d-flex flex-column text-center">
                            {{# if this.shortname}} 
                                <h5 class="card-title">{{ this.shortname}}</h5>
                            {{ else }}
                                <h5 class="card-title">{{ this.name}}</h5>
                            {{/if}}
                        </div>
                    </div>
                </a>
            </div>
        {{/each}}

    </div>
</div>